body{
text-align: center;
background-image: url(https://kep.cdn.indexvas.hu/1/0/4041/40419/404192/40419299_a315f7f2659081796284ed46e6f7d6bc_wm.jpg);
background-repeat: no-repeat;
background-size: cover;
}
